<h1>WebSocket Example</h1>
<p>To make this client works properly start the <a href="https://github.com/smikodanic/regoch-websocket-server" target="_blank">Regoch Websocket Server</a>.
Open your browser's developer tools to see the activity.</p>

<h3>Connection Test</h3>
<button (click)="rwa.connect()">Connect</button>
<button (click)="rwa.disconnect()">Disconnect</button>


<h3>Message Properties</h3>
<p>id:number, from:number, to:number|number[]|string, cmd:string, payload?:any</p>


<h4>Questions</h4>
<button (click)="infoSocketId_test()">Get my ID</button> <span class="data-text">{{socketID}}</span>
<br><button (click)="infoSocketList_test()">List socket IDs</button> <span class="data-text">{{socketIDsStr}}</span>
<br><button (click)="infoRoomList_test()">List all rooms</button> <span class="data-text">{{roomNames}}</span>
<br><button (click)="infoRoomListmy_test()">List my rooms</button> <span class="data-text">{{myRoomNames}}</span>


<br><br>
<h4>Send message</h4>
<input type="number" [(ngModel)]="inputs.to1" placeholder="to"><input type="text" [(ngModel)]="inputs.payload1" placeholder="payload (message)"><button (click)="sendOne_test()">send one</button>
<br><input type="string" [(ngModel)]="inputs.to2" placeholder="to (separate IDs with comma)"><input type="text" [(ngModel)]="inputs.payload2" placeholder="payload (message)"><button (click)="send_test()">send many</button>
<br><input type="text" [(ngModel)]="inputs.payload3" placeholder="payload (message)"><button (click)="broadcast_test()">broadcast</button> - send to all but not the sender
<br><input type="text" [(ngModel)]="inputs.payload4" placeholder="payload (message)"><button (click)="sendAll_test()">send all</button> - send to all clients


<br><br>
<h4>Room</h4>
room: <input type="text" [(ngModel)]="inputs.roomName" placeholder="room name">
  <button (click)="roomEnter_test()">Enter the room</button>
  <button (click)="roomExit_test()">Exit from room</button>
  <button (click)="roomExitAll_test()">Exit from all rooms</button>
<br>
<br>message: <input type="text" [(ngModel)]="inputs.roomMessage" placeholder="room message"><button (click)="roomSend_test()">Send to room</button>



    <br><br>
    <h4>Server Commands</h4>
    nickname: <input type="text" [(ngModel)]="inputs.nickname" placeholder="nick name"><button (click)="setNick_test()">set nick name</button>
    <br>route:
      <input type="text" [(ngModel)]="inputs.routeUri" placeholder="uri" value="/shop/product/55?limit=25">
      <input type="text" [(ngModel)]="inputs.routeBody" placeholder="body" value='{"test": "something"}'>
      <button (click)="route_test()">send route</button>

    <br><input type="text" [(ngModel)]="inputs.routeUri2" placeholder="uri" value="/send/me/back"><button (click)="route_test2()">return route</button>


    <br><br>
    <h4>Incoming Messages</h4>
    <p>{{incomingMessage}}</p>

